@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

:root{
--gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
--paleblue: hsl(243, 100%, 93%);
--grayishblue: hsl(229, 7%, 55%);
--darkblue: hsl(228, 56%, 26%);
--verydarkblue: hsl(229, 57%, 11%);
}

@media (min-width:375px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--darkblue) url(images/bg-mobile.png) no-repeat;
        background-size: cover;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--darkblue);
        height: 170px;
        border-radius: 15px;
        border-top-right-radius: 90px;
        width: 85vw;
        margin-bottom: 10px;
    }
    .icons > img{
        width: 120px;
        margin: 0 0 30px 35px;
    }
    .subicons{
        margin-left: 35px;
        display: flex;
        align-items: baseline;
    }
    .subicons img{
        background-color: var(--verydarkblue);
        padding: 10px;
        border-radius: 10px; 
        margin-right: 15px;
    }
    .infoused {
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: var(--darkblue);
        border-radius: 15px;
    }
    .used{
        color: var(--paleblue);
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .used span{
        font-weight: 700;
    }
    [type="range"]{
        transform: scale(1.5);
        appearance: none;
        display: block;
        background-color: var(--verydarkblue);
        border-radius: 10px;
        width: 180px;
        margin: 10px auto;
        padding: 2px;

    }
    [type="range"]::-webkit-slider-thumb{
        appearance: none;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
    }
    [type="range"]::-moz-range-thumb{
        appearance: none;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
    }
    .progress{
        display: flex;
        justify-content: space-between;
        color: var(--paleblue);
        font-weight: 700;
        margin-bottom: 10px;
    }
    .first{
        margin-left: 30px;
    }
    .last{
        margin-right: 30px;
    }
   .remaining{
    position: relative;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 180px;
    height: 60px;
    margin: auto;
    border-radius: 15px;
   }
   .remaining p{
    color: var(--verydarkblue);
    font-weight: 700;
    font-size: 3rem;
   }
   .remaining span{
    color: var(--grayishblue);
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 0.5rem;
   }
   .remaining p, .remaining span{
    display: flex;
    justify-content: center;
    align-items: center;
   }
}